## LAB-5 EXERCISE-1 
## 200968266 
## Ankita Veerabahu

## META DATA
The weatherAUS dataset is a data frame containing over 140,000 daily observations from over 45 Australian weather stations.

Date
The date of observation (a Date object).

Location
The common name of the location of the weather station.

MinTemp
The minimum temperature in degrees celsius.

MaxTemp
The maximum temperature in degrees celsius.

Rainfall
The amount of rainfall recorded for the day in mm.

Evaporation
The so-called Class A pan evaporation (mm) in the 24 hours to 9am.

Sunshine
The number of hours of bright sunshine in the day.

WindGustDir
The direction of the strongest wind gust in the 24 hours to midnight.

WindGustSpeed
The speed (km/h) of the strongest wind gust in the 24 hours to midnight.

Temp9am
Temperature (degrees C) at 9am.

RelHumid9am
Relative humidity (percent) at 9am.

Cloud9am
Fraction of sky obscured by cloud at 9am. This is measured in "oktas", which are a unit of eigths. It records how many eigths of the sky are obscured by cloud. A 0 measure indicates completely clear sky whilst an 8 indicates that it is completely overcast.

WindSpeed9am
Wind speed (km/hr) averaged over 10 minutes prior to 9am.

Pressure9am
Atmospheric pressure (hpa) reduced to mean sea level at 9am.

Temp3pm
Temperature (degrees C) at 3pm.

RelHumid3pm
Relative humidity (percent) at 3pm.

Cloud3pm
Fraction of sky obscured by cloud (in "oktas": eighths) at 3pm. See Cload9am for a description of the values.

WindSpeed3pm
Wind speed (km/hr) averaged over 10 minutes prior to 3pm.

Pressure3pm
Atmospheric pressure (hpa) reduced to mean sea level at 3pm.

ChangeTemp
Change in temperature.

ChangeTempDir
Direction of change in temperature.

ChangeTempMag
Magnitude of change in temperature.

ChangeWindDirect
Direction of wind change.

MaxWindPeriod
Period of maximum wind.

RainToday
Integer: 1 if precipitation (mm) in the 24 hours to 9am exceeds 1mm, otherwise 0.

TempRange
Difference between minimum and maximum temperatures (degrees C) in the 24 hours to 9am.

PressureChange
Change in pressure.

RISK_MM
The amount of rain. A kind of measure of the "risk".

RainTomorrow
The target variable. Did it rain tomorrow?

In [1]:
#IMPORT LIBRARIES
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score
import warnings

warnings.filterwarnings('ignore')

In [2]:
#import dataset
df = pd.read_csv(r"C:\Users\R Veerabahu\Downloads\weatherAUS.csv")
df.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [3]:
df.shape

(145460, 23)

In [4]:
df.info

<bound method DataFrame.info of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
0            NaN           W           44.0          W  ...        71.0
1            NaN         WNW           44.0        NNW  ...        44.0
2            NaN         WSW           46.0          W  ...        38.0
3            NaN          NE           24.0         SE  ...        45.0
4            NaN           W           41.0        ENE  ...        82.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
0              22.0       1007.7       1007.1       8.0       NaN     16.9
1              25.0       1010.6       1007.8       NaN       NaN     17.2
2              30.0       1007.6       1008.7       NaN       2.0     21.0
3              16.0       1017.6       1012.8       NaN       NaN     18.1
4              33.0       1010.8       1006.0       7.0       8.0     17.8
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
0          21.8         No            No
1          24.3         No            No
2          23.2         No            No
3          26.5         No            No
4          29.7         No            No
...         ...        ...           ...
145455     22.4         No            No
145456     24.5         No            No
145457     26.1         No            No
145458     26.0         No            No
145459     20.9         No           NaN

[145460 rows x 23 columns]>

In [5]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [6]:
#Checking for null values
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [7]:
null_data = df[df.isnull().any(axis=1)]
null_data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [8]:
#drop missing values
df.dropna(inplace=True)

In [9]:
#drop useless attributes for prediction
df.drop('Date', axis=1, inplace=True)

In [10]:
#new dimensions of dataframe
df.shape

(56420, 22)

In [11]:
#Split df(X Y split) and mapping to Y

p = df.pop('RainTomorrow')

In [13]:
m = {'No': 0, 'Yes': 1}
p = p.map(m)

In [12]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
6049,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,...,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No
6050,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,...,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No
6052,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,...,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No
6053,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,...,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No
6054,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,...,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No

In [17]:
#split into categorical columns
c_c = [cname for cname in df.columns if df[cname].dtype == 'object']
df_cc= df[c_c]

In [18]:
#split into numeric columns
n_c= [cname for cname in df.columns if df[cname].dtype in ['int64', 'float64']]
df_nc = df[n_c]

In [19]:
df_cc

       Location WindGustDir WindDir9am WindDir3pm RainToday
6049      Cobar         SSW        ENE         SW        No
6050      Cobar           S        SSE        SSE        No
6052      Cobar         NNE        NNE        NNW        No
6053      Cobar         WNW        WNW        WSW        No
6054      Cobar         WNW         NW        WNW        No
...         ...         ...        ...        ...       ...
142298   Darwin         ENE         SE         NE        No
142299   Darwin           E         SE         SE        No
142300   Darwin           E          E          W        No
142301   Darwin         ESE         SE        NNW        No
142302   Darwin         ENE        ENE        NNW        No

[56420 rows x 5 columns]

In [20]:
df_nc

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
6049,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4
6050,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0
6052,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9
6053,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6
6054,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3
142299,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0
142300,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1
142301,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2
142302,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0

In [22]:
#find r2 scores (VIF OF DF)

lr = LinearRegression()
vif = {}
for col in n_c:
    all_cols = list(n_c)
    all_cols.remove(col)
    X = df_nc[all_cols]
    y = df_nc[col]
    lr.fit(X, y)
    y_pred = lr.predict(X)
    score = r2_score(y, y_pred)
    vif[col] = 1 / (1 - score)
    
vif

{'MinTemp': 10.770219691409892,
 'MaxTemp': 46.78406795924843,
 'Rainfall': 1.1779953082896788,
 'Evaporation': 2.224815286348291,
 'Sunshine': 3.3077307556062605,
 'WindGustSpeed': 2.878864348472314,
 'WindSpeed9am': 1.8564893477202455,
 'WindSpeed3pm': 2.1463942950501775,
 'Humidity9am': 4.417547175413456,
 'Humidity3pm': 6.803333309913033,
 'Pressure9am': 19.87624174315856,
 'Pressure3pm': 19.86913652734502,
 'Cloud9am': 2.238263376838908,
 'Cloud3pm': 2.2774283640218864,
 'Temp9am': 24.36887019910182,
 'Temp3pm': 56.08268800345098}

In [23]:
drop = [key for key in vif.keys() if vif[key] > 5]
drop

['MinTemp',
 'MaxTemp',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [24]:
df_nc.drop(drop, axis=1, inplace=True)

In [25]:
#correlation matrix
df_nc.corr()

,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Cloud9am,Cloud3pm
Rainfall,1.000000,-0.077239,-0.246379,0.106308,0.050584,0.044112,0.263625,0.217169,0.191433
Evaporation,-0.077239,1.000000,0.369250,0.209566,0.193154,0.124345,-0.554232,-0.199809,-0.202366
Sunshine,-0.246379,0.369250,1.000000,-0.052422,-0.013842,0.029200,-0.500343,-0.677939,-0.702022
WindGustSpeed,0.106308,0.209566,-0.052422,1.000000,0.608852,0.685236,-0.193410,0.088129,0.131590
WindSpeed9am,0.050584,0.193154,-0.013842,0.608852,1.000000,0.502226,-0.236795,0.034908,0.062507
WindSpeed3pm,0.044112,0.124345,0.029200,0.685236,0.502226,1.000000,-0.100626,0.068224,0.041475
Humidity9am,0.263625,-0.554232,-0.500343,-0.193410,-0.236795,-0.100626,1.000000,0.438962,0.348707
Cloud9am,0.217169,-0.199809,-0.677939,0.088129,0.034908,0.068224,0.438962,1.000000,0.614380
Cloud3pm,0.191433,-0.202366,-0.702022,0.131590,0.062507,0.041475,0.348707,0.614380,1.000000

## Conclusions
### variables that have correlation more than 0.6
#### Cloud9am, Cloud3pm
#### WindGustSpeed, WindSpeed9am
#### WindGustSpeed, WindSpeed3pm

In [28]:
# remove columns
n_c = list(n_c)
n_c.remove('Cloud9am')
n_c.remove('Cloud3pm')
n_c.remove('WindGustSpeed')
n_c.remove('WindSpeed3pm')
n_c.remove('WindSpeed9am')

In [30]:
df_nc= df[n_c]
df_nc['Cloud9am - Cloud3pm'] = df['Cloud9am'] - df['Cloud3pm']
df_nc['WindGustSpeed - WindSpeed3pm'] = df['WindGustSpeed'] - df['WindSpeed3pm']
df_nc['WindGustSpeed - WindSpeed9am'] = df['WindGustSpeed'] - df['WindSpeed9am']

In [31]:
df_nc.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Cloud9am - Cloud3pm,WindGustSpeed - WindSpeed3pm,WindGustSpeed - WindSpeed9am
6049,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,26.6,33.4,-3.0,28.0,42.0
6050,18.4,28.9,0.0,14.8,13.0,30.0,8.0,1012.9,1012.1,20.3,27.0,0.0,18.0,18.0
6052,19.4,37.6,0.0,10.8,10.6,42.0,22.0,1012.3,1009.2,28.7,34.9,-5.0,31.0,16.0
6053,21.9,38.4,0.0,11.4,12.2,37.0,22.0,1012.7,1009.1,29.1,35.6,-4.0,25.0,25.0
6054,24.2,41.0,0.0,11.2,8.4,19.0,15.0,1010.7,1007.4,33.6,37.6,-5.0,22.0,18.0

In [32]:
temp = pd.merge(df_nc, df_cc, left_index = True, right_index = True)

In [33]:

temp

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Cloud9am - Cloud3pm,WindGustSpeed - WindSpeed3pm,WindGustSpeed - WindSpeed9am,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday
6049,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,26.6,33.4,-3.0,28.0,42.0,Cobar,SSW,ENE,SW,No
6050,18.4,28.9,0.0,14.8,13.0,30.0,8.0,1012.9,1012.1,20.3,27.0,0.0,18.0,18.0,Cobar,S,SSE,SSE,No
6052,19.4,37.6,0.0,10.8,10.6,42.0,22.0,1012.3,1009.2,28.7,34.9,-5.0,31.0,16.0,Cobar,NNE,NNE,NNW,No
6053,21.9,38.4,0.0,11.4,12.2,37.0,22.0,1012.7,1009.1,29.1,35.6,-4.0,25.0,25.0,Cobar,WNW,WNW,WSW,No
6054,24.2,41.0,0.0,11.2,8.4,19.0,15.0,1010.7,1007.4,33.6,37.6,-5.0,22.0,18.0,Cobar,WNW,NW,WNW,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19.3,33.4,0.0,6.0,11.0,63.0,32.0,1013.9,1010.5,24.5,32.3,-1.0,15.0,26.0,Darwin,ENE,SE,NE,No
142299,21.2,32.6,0.0,7.6,8.6,56.0,28.0,1014.6,1011.2,24.8,32.0,7.0,26.0,24.0,Darwin,E,SE,SE,No
142300,20.7,32.8,0.0,5.6,11.0,46.0,23.0,1015.3,1011.8,24.8,32.1,0.0,22.0,16.0,Darwin,E,E,W,No
142301,19.5,31.8,0.0,6.2,10.6,62.0,58.0,1014.9,1010.7,24.8,29.2,0.0,9.0,17.0,Darwin,ESE,SE,NNW,No
142302,20.2,31.7,0.0,5.6,10.7,73.0,32.0,1013.9,1009.7,25.4,31.0,1.0,23.0,15.0,Darwin,ENE,ENE,NNW,No

In [34]:
#one hot encoding categorical columns
df_new = pd.get_dummies(temp)
df_new.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes
6049,17.9,35.2,0.0,12.0,12.3,20.0,13.0,1006.3,1004.4,26.6,...,0,0,0,0,1,0,0,0,1,0
6050,18.4,28.9,0.0,14.8,13.0,30.0,8.0,1012.9,1012.1,20.3,...,0,0,1,0,0,0,0,0,1,0
6052,19.4,37.6,0.0,10.8,10.6,42.0,22.0,1012.3,1009.2,28.7,...,0,0,0,0,0,0,0,0,1,0
6053,21.9,38.4,0.0,11.4,12.2,37.0,22.0,1012.7,1009.1,29.1,...,0,0,0,0,0,0,0,1,1,0
6054,24.2,41.0,0.0,11.2,8.4,19.0,15.0,1010.7,1007.4,33.6,...,0,0,0,0,0,0,1,0,1,0

In [35]:
df_new = df_new.astype('float64')
p = p.astype('float64')

In [37]:
#Split into training and testing
X_train, X_test, y_train, y_test = train_test_split(df_new, p , test_size = 0.3, random_state = 42)

In [38]:
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [39]:
#Accuracy score
accuracy_score(y_test, y_pred)

0.8540115798180314

In [40]:
## Accuracy rate is 85.4%